/* styles.css */

/* Add styles here to customize the appearance of your app */

.input {
    width: 122px;
    float: left;
    margin: 1px 1px 1px 1px;
}

.output {
    margin: 1px 1px 1px 1px;
}

.button {
    float: left;
    margin: 1px 1px 1px 1px;
    padding: 0 47px 0 47px;
}

.workTable {
    float: left;
}