/* styles.css */

/* Add styles here to customize the appearance of your app */

.portInit {
    border: 3px solid black;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    width: 350px;
}

.sensors {
    float: none;
    border: 2px solid black;
    border-radius: 7px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    width: 1520px;
    height: 710px;
    position: absolute;
}

.data {
    float: none;
    border: 2px solid black;
    border-radius: 7px;
    width: 400px;
    margin-left: 5px;
    position: absolute;
    top: +820px;
}

.readOnly {
    float: left;
    border: 2px solid black;
    border-radius: 7px;
    width: 1125px;
    position: absolute;
    left: +418px;
    top: +820px;
}

.allShim {
    position: absolute;
    top: +2465px;
    border: 2px solid black;
    border-radius: 5px;
    width: 1150px;
    float: left;
}

.shimLines {
    width: 1450px;
    height: 500px;
    position: absolute;
    top: +4710px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}




.inputSensor {
    float: none;
    border: 3px solid green;
    border-radius: 3px;
    margin: 15px 5px 15px 5px;
    padding: 3px 3px 3px 3px;
}

#input_1 {
    width: 680px;
    text-align: center;
}

#input_2 {
    width: 550px;
}




.shimFreq {
    float: left;
    margin: 7px 7px 7px 7px;
}

.maxShimCurrent {
    float: left;
    margin: 7px 7px 7px 7px;
}

.shimLaw {
    float: left;
    margin: 7px 7px 7px 7px;
}




.shimFreqValues {
    border: 1px solid black;
    float: none;
    margin: 3px 3px 3px 3px;
}

.maxShimCurrentValues {
    border: 1px solid black;
    margin: 3px 3px 3px 3px;
}

.shimLawValues {
    border: 1px solid black;
    margin: 3px 3px 3px 3px;
}

.discretSensor {
    float: left;
    width: 200px;
    margin: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
    border: 1px solid black;
    border-radius: 5px;
}

.dataValues {
    border: 1px solid black;
    margin: 3px 3px 3px 3px;
    padding: 2px 2px 2px 2px;
}

.readOnlyValues {
    float: none;
    border: 1px solid black;
    margin: 3px 3px 3px 3px;
    padding: 2px 2px 2px 2px;
}


.readOnlyFreqValues, .readOnlyCPUValues1, .readOnlyCPUValues2, .readOnlyRest {
    float: left;
}

.sensorValues, .shimValues {
    margin: 5px 5px 0 5px;
    
}






.button, #buttonS2, #buttonS3, #buttonRefresh2, #buttonRefresh3 {
    margin: 1px 1px 1px 1px;
    padding: 0 47px 0 47px;
}

.buttons {
    float: none;
}

.checkBox {
    margin-left: 20px;
}

#sendRequestSensors {
    margin: 5px 5px 5px 5px;
}




.descr {
    float: none;
}

.header {
    text-align: center;
}



#h4 {
    margin-bottom: 0px;
}

#h6, #h66, #h666, #h6666, #h66666, #h666666, #h6666666, #h66666666, #h666666666, #h6666666666 {
    float: none;
    margin-top: 4px;
    margin-bottom: 10px;
    text-align: center;
}





.hr {
    position: absolute;
    width: 1600px;
    height: 5px;
    color: black;
    background-color: black;
}






#CPU2 {
    float: none;
    border: 3px solid green;
    border-radius: 3px;
    margin: 15px 5px 15px 5px;
    padding: 3px 3px 3px 3px;
    width: 590px;
    text-align: center;
}

#inputValues {
    margin: 5px 5px 5px 5px;
}

#sendValues, #sendValues2, #sendValues3 {
    width: 150px;
}

#inputReference, #inputReference2, #inputReference3 {
    width: 70px;
}







.graphics {
    float: left;
    border: 1px solid black;
    margin: 5px 5px 5px 5px;
    height: 175px;
    width: 350px;
}

